.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
    background:#009879;
    padding:3px;
}
.menu ul{
    display:flex;

}
.menu ul li{
    margin-right:60px;
    list-style-type: none;

}
.login ul{
display:flex;
margin-right:100px;
list-style-type: none ;
}
.login ul li{
display:flex;
margin-right:60px;
list-style-type: none ;
}
.content{
    margin-top:40px;
}
.add a{
    text-decoration-line:none;
    text-decoration-color: black;
}