*{
    margin:0%;
    padding:0%;
}
body{
    background:#DFCFBE;
}
.header{
    display:flex;
    margin-left:20px;
}
.logo{
    padding:5px;
}

.search{
    position:relative;
    left:100px;
}
.search input{
    width: 400px;
    margin-top:30px;
    height: 40px;
    border-radius:30px;
    border:none;
    text-align:200px left ;
   
}

.log{
    margin-top:40px;
    display:flex;
    position:relative;
    left:450px;

}
.login{
    border-radius:30px;
    height: 30px;
    background:pink;
    margin-right:20px;
    width:50px;
    text-align: center;
}

.noibat{
    margin-top:30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    height:30px;
}
.title{
    margin-top:50px;
    background:red;
    border-radius:40px;
    text-align:center;

}
.card{
    margin-top:30px;
}